body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: darkslategray;
}

#project {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.menuContainer {
  background-color: white;
  width: clamp(500px, 60%, 60%);
  border-radius: 10px;
}

.topBar {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-between;
  padding-left: 3%;
}

.topBar p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
}

.materialButton {
  background-color: transparent;
  color: black;
  border: 0;
  cursor: pointer;
}

.menuItem {
  display: flex;
  justify-content: right;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
}

.menuContent.hidden {
  display: none;
}
